*{
	font-family: 'Josefin Sans', sans-serif;
}

.social-icons-container {
  
  bottom: 20px;
  right: 20px;
}

.social-icons-container a {
  font-size: 2rem;
  margin-left: 10px;
}


.bg-floralwhite{
  background:floralwhite;
}